DATABASE_URL=postgresql://neondb_owner:npg_FHA2l7tDkuUd@ep-purple-grass-amsjhe93-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION='7d'
NODE_ENV=development
EXPO_PUBLIC_API_URL=https://micrilearn-backend.vercel.app/
